@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500&family=Sarabun:wght@700&display=swap');

body {
    background: #B9CACE;
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

// Navigation bar (My Work, About, LinkedIn logo, GitHub logo)
.navbar {

    .logo {
        padding: 3em;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        padding: 2em;
        float: right;
        cursor: pointer;
        width: 10%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 3em;
}

// Main body of text on the upper half of the page (Kunal Patel, Game Developer + paragraph underneath)
.left-col {
    padding-left: 0.5em;
    h1 {
        font-size: 3.3em;
        margin-top: -0.5em;
        span {
            font-size: 0.9em;
            color: white;
            text-decoration: underline;
        }
    }

    p {
        font-size: 1.5em;
        text-align: left;
        font-family: 'Saira', sans-serif;
        font-weight: 500;
    }
}

// Avatar image
.hero-img {
    padding-bottom: 3em;
    width: 30%;
}

// My work section
section.mywork {
    font-family: 'Saira', sans-serif;
    padding-top: 1em;
    margin: 0;
    text-align: center;

    img {
        width: 90%;
    }

    p {
        font-size: 1.4em;
        font-weight: 500;
        text-align: center;
        padding-bottom: 4em;
    }

    h2 {
        font-size: 2em;
        font-weight: 900;
    }
}

.opfa
{
    .opfa-banner {
        text-align: center;
        width: 125%;
        margin-left: -3em;
        margin-top: -15em;
    }

    p {
        font-family: 'Saira', sans-serif;
        font-weight: 500;
        padding-bottom: 2em;
    }

    .gameplay-section {
        h2 {
            text-align: center;
        }

        .play-my-game-text {
            display: none;
        }
    }

    .opfa-gif1 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .opfa-gif2 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .opfa-gif3 {
        padding-left: 2em;
        width:90%;
    }
}

.moonote {
    .moonote-banner {
        text-align: center;
        width: 125%;
        margin-left: -3em;
        margin-top: -7em;
    }

    p {
        font-family: 'Saira', sans-serif;
        font-weight: 500;
        padding-bottom: 2em;
    }

    .gameplay-section {
        text-align: center;

        .moonote-youtubevideo {
            text-align: center;

            .moonote-youtube{
                margin-bottom: 5em;
            }
        }
    }

    .moonote-gif1 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }
}

.ts {
    .ts-banner {
        text-align: center;
        width: 125%;
        margin-left: -3em;
        margin-top: -15em;
    }

    p {
        font-family: 'Saira', sans-serif;
        font-weight: 500;
        padding-bottom: 2em;
    }

    .gameplay-section {
        h2 {
            text-align: center;
        }
        .ts-youtubevideo {
            text-align: center;
            .ts-youtube {
                margin-bottom: 5em;
            }
        }

    }
    
    .ts-gif1 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .ts-gif2 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .ts-gif3 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }
}

.kc {
    .kc-banner {
        text-align: center;
        width: 125%;
        margin-left: -3em;
        margin-top: -15em;
    }

    .gameplay-section {
        h2 {
            text-align: center;
        }
    }

    p {
        font-family: 'Saira', sans-serif;
        font-weight: 500;
        padding-bottom: 2em;
    }

    .kc-gif1 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .kc-gif2 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }

    .kc-gif3 {
        padding-left: 2em;
        padding-bottom: 2em;
        width:90%;
    }
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: white;
    opacity: 0.8;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: black;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 2em;
            text-align: right;

            &:hover {
                color: grey;
            }
        }
    }
}

.mobile-menu-exit {
    width: 20%;
    margin: 0.1em;
    cursor: pointer;
}
// ABOUT PAGE
.about-page {
    margin: 0;
    padding: 0;
    
    .aboutme {
        .container {

            margin-top: -3em;

            img {
                display: none;
            }

            h1 {
                font-family: 'Sarabun', sans-serif;
                font-size: 2em;
            }

            p {
                font-family: 'Saira' , sans-serif;
                font-weight: 500;

                span {
                    color: white;
                }
            }
        }
    }

    .skills {
        .container {
            margin-top: -7em;
        }
    }

    .tools {
        .container {
            margin-top: -7em;
        }
    }

    .image-me {
            text-align: center;

            img {
                margin-top: 3em;
                width: 70%;
            }

            h2 {
                font-family: 'Sarabun', sans-serif;
                color: white;
            }

            p {
                font-family: 'Saira' , sans-serif;
                font-weight: 500;
            }
    }

    .column {
        width: 27%;
        float: left;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    // Do all code for mobile version of about page here
}

// Responsive design
@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        place-content: space-between;
        display: grid;
        grid-template-columns: 180px auto;

        .logo {
            padding: 0;
            margin-top: 2em;
            margin-left: 3em;
        }
    }

    .navbar nav {
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
            margin-top: 2em;

            .github-logo { 
                margin-right: -1.3em;
                margin-top: -0.5em;
            }
            .linkedin-logo {
                margin-top: -0.5em;
            }
        }

        a {
            font-size: 1em;
            padding: 0.1em 1em;
        }
    }

    .hero-img {
        width: 20%; 
    }

    .opfa {
        .opfa-banner {
            width: 112.3%;
        }

        .gameplay-section {
            .play-my-game-text {
                display: block;
            }
        }
    }

    .moonote {
        .moonote-banner {
            padding-top: 6em;
            width: 114.4%;
        }

        .moonote-youtube {
            margin-left: 2em;
            width: 600px;
            margin-bottom: 10em;
        }
    }

    .ts {
        .ts-banner {
            padding-top: 6em;
            width: 114.4%;
        }
        
        .ts-youtube {
            margin-left: 2em;
            width: 600px;
            margin-bottom: 10em;
        }
    }

    .kc {
        .kc-banner {
            padding-top: 6em;
            width: 114.4%;
        }
    }

    .about-page {

        .aboutme {
            p {
                font-size: 1.5em;
            }
        }

        .image-me {
                img {
                    width: 60%;
                }

                h2 {
                    font-size: 3.5em;
                }
                
                p {
                    font-size: 2em;
                }
        }

    .column {
        width: 20%;
        float: left;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    }
}

@media only screen and (min-width: 1600px) {

    body {
        margin:0;
        padding:0;
        overflow-x:hidden;
    }

    .container {
        padding: 0;
        width: 1080px;
        margin: 0 auto;
    }

    .navbar .container {

        margin-bottom: 5em;

        .logo {
            padding: 0;
            margin-top: 1em;
            margin-left: 0.6em;
        }
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        justify-content: space-between;
        text-align: left;
    }

    .hero-img {
        width: 25%;
        position: relative;
        float: right;
        margin: -1.5em;
        margin-left: 3em;
        
    }

    // Images become side by side
    .column {
        width: 33.33%;
        float: left;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }

    .mywork {
        h2 {
            margin-right: 28.4em;
        }
    }

    .opfa {
        .opfa-banner {
            margin-left: -28em;
            width: 180%;
        }

        p {
            font-size: 1.3em;
        }

        .opfa-gif1 {
            width: 140%;
            margin-left: -17em;
        }

        .opfa-gif2 {
            width: 140%;
            margin-left: -6em;
        }

        .opfa-gif3 {
            width: 140%;
            margin-left: 5em;
        }

    }

    .moonote {
        .container {
            .gameplay-section {
                text-align: center;
            }
        }
        .moonote-banner {
            margin-left: -28em;
            margin-top: -15em;
            width: 180%;
        }

        p {
            font-size: 1.3em;
        }

        .moonote-youtubevideo {
            margin-left: -2em;
            text-align: center;

            .moonote-youtube {
                width: 1080px;
                height: 500px;
            }
        }

    }

    .ts {
        .ts-banner {
            margin-left: -28em;
            margin-top: -15em;
            width: 180%;
        }

        p {
            font-size: 1.3em;
        }

        .ts-gif1 {
            width: 140%;
            margin-left: -17em;
        }

        .ts-gif2 {
            width: 140%;
            margin-left: -6em;
        }

        .ts-gif3 {
            width: 140%;
            margin-left: 5em;
        }

        .ts-youtube {
            width: 1080px;
            height: 500px;
        }
    }

    .kc {
        .kc-banner {
            margin-left: -28em;
            width: 180%;
        }

        p {
            font-size: 1.3em;
        }
        
        .kc-gif1 {
            width: 140%;
            margin-left: -17em;
        }

        .kc-gif2 {
            width: 140%;
            margin-left: -6em;
        }

        .kc-gif3 {
            width: 140%;
            margin-left: 5em;
        }
    }

    .about-page {

        .aboutme {
            .container {
                margin-top: -11em;

                img {
                    display: block;
                    width: 40%;
                    margin-top: 9em;
                    margin-left: 2em;
                    float: right;
                }

                h1 {
                    font-size: 4em;
                }
            }
        }

        .skills {
            .container {
                
                margin-top: -17em;

                h2 {
                    font-size: 3em;
                }
            }
        }

        .tools{
            .container{
                margin-top: -21em;
                
                h2 {
                    font-size: 3em;
                }
            }
        }

        .image-me {
                position: relative;
                top: -20em;
                left: 40em;

                h2 {
                    font-size: 3em;
                }
                
                p {
                    font-size: 1.5em;
                }

                img {
                    display: none;
                }

                .contact-details {
                    text-align: left;
                }
        }
        

        .column {
            width: 9%;
            float: left;
        }
    
        .row::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
